.StripeCheckout span {
  background-color: #3B82F6 !important;
  background-image: none !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
  height: 80px !important;
  font-size: 22px !important;
}
.StripeCheckout {
    background: #ACACAC !important;
}