@tailwind base;
@tailwind components;
@tailwind utilities;


/* Personalize a barra de rolagem */
::-webkit-scrollbar {
  width: 8px; /* Define a largura da barra de rolagem */
  background-color: #fff; /* Define a cor de fundo da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background-color: #3b82f6; /* Define a cor da barra de rolagem */
  border-radius: 5px; /* Define o estilo arredondado */
}


@keyframes toast-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes toast-out-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

